#all {
    background-color: hotpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    box-shadow: 5px 5px 15px #888888;
    text-shadow:  .5px .5px .1px lightpink;
    border-radius: 5px;


}

ul , h1 {
    color: blueviolet;
    text-align: center;
}

li {
    color: red;
    text-align: center;
}