.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxes {
  display: flex;
  width: 99%;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  background-color: #e772de;
  border-color: #f99626;
  border-width: 5px;
  border-radius: 25px;
  margin: 5px;
  padding: 20px;
  color: #fff;
  text-shadow: 2px 2px #ff0000;
}
button:focus {
  outline: 0;
}

.box {
  float: left;
  margin: 5px;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  background-color: hotpink;
}
