button {
  background-color: #e772de;
  border-color: #f99626;
  border-radius: 5px;
  margin: 5px;
  color: #77e772;
}
button:focus {
  outline: 0;
}

.box {
  float: left;
  margin: 50px;
  width: 100px;
  height: 100px;
  background-color: pink;
}
